.menu__icon{
  z-index: 2000;
 display: none;
  position: absolute;
  top: 10px;
  right: space(1);
  width: 54px;
  height: 54px;

  span{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 22px;
    height: 2px;

    background-color: $primaryColor;
    transform: translateX(-50%) translateY(-50%);
    &::before,&::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 22px;
      height: 2px;
      transform: translateY(-6px) ;
      transition: $duration cubic-bezier(0,.97,.73,.2);

      background-color: $primaryColor;
    }
    &::after{
      transform: translateY(6px);
    }

  }
  &:hover{
    span::before{
      transform: translateY(-8px) ;
    }
    span::after{
      transform: translateY(8px) ;
    }
  }
  svg{
    color: white;
  }
  svg {
    stroke-width: 1px;
    fill:  white;
    stroke-dasharray: 0 170;
    stroke: $primaryColor;
    transition: $duration;
  }
}

