.menu__icon__cross{
  span::before,span::after{
    transform-origin: 50% 50%;
  }
  span{
    transition: $duration;
  }
  &.is__opened{

    span{
      background: transparent;
    }
    span::before{
      transform: translateY(0) rotate(45deg);
    }
    span::after{
      transform: translateY(0) rotate(-45deg);
    }
    svg {
      stroke-dasharray: 170 170;
    }
  }

}
