.section__detail{
  padding: space(1) space(4);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
   .icon-detail .icon{
    width: 160px !important;
    height: 120px !important;
  }
}