.section-4{
  background-color: #ce34ff;
}
.loader-bars:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 30px;

  background-color: #FFFFFF;
  animation: grow 1s linear infinite  ;
}
.loader-bars:after{
   content: '';
   position: absolute;
   top: 0;
   left: 15px;
   width: 10px;
   height: 30px;

   background-color: #FFFFFF;
   animation: grow 1s linear -.5s infinite  ;
 }

.loader-bars span{
  content: '';
  position: absolute;
  top: 0;
  left:30px;
  width: 10px;
  height: 30px;

  background-color: #FFFFFF;
  animation: grow 1s linear -1s infinite  ;
}